body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn {
  transition: all .25s ease;
}

.form__btn {
  margin-right: 5px;
}

.btn_is-loading {
  background: #5cb85c url(../images/bars.svg) no-repeat center center;
  background-size: contain;
}

.btn_is-loading .btn__text {
  opacity: 0;
}
