extends layout

block content
  div.container
    div.jumbotron
      h1 My awesome scrapper
      p.lead
        | Scarpper allows you to find contents of selected dom elements
        | of a website
        form
          div.form-group
            label(for="web-site") Web site
            input(type="text" class="form-control" name="website" id="web-site" placeholder="Web site you want to scrap" required)
          div.form-group
            label(for="css-selector") Css selector
            input(type="text" class="form-control" name="selector" id="css-selector" placeholder="Css selector for dom elements you want find" required)

          button(type="submit" class="btn btn-lg btn-success" href="#" role="button")
            span(class="btn__text") Scrap it!
      </div>
